@import "tailwindcss";

/* Enable class-based dark mode strategy for Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

@utility safe-top {
  padding-top: env(safe-area-inset-top);
}

@utility safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
